@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

.App {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: 'Noto Serif JP', serif;
}

.App-link {
  color: #61dafb;
}

.sidebar-button {
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.sidebar-button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #D3885E;
}

.sidebar {
  position: relative;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.main-header {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
}

.main-header h2 {
  margin: 0;
  padding: 30px;
  font-weight: 500;
  text-align: right;
}

.cuisine-title {
  text-align: right;
  position: absolute;
  top: 80px;
  right: 30px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.dishes-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.dishes-list {
  margin-top: 150px;
  font-size: 15px;
  text-align: right;
}

.dish {
  width: 100%;
  max-width: 250px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

/* .dish-info {
  display: none; 
  padding: 10px;
  text-align: left;
}

.dish-info h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.dish-info.show {
  display: block;
}  */

.dish img {
  max-width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #282c34;
  cursor: pointer;
}

.close-button:hover {
  color: #D3885E;
}

.cuisine-button {
  background-color: transparent;
  color: #282c34;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  width: 100%;
  text-align: left;
}

.cuisine-button:hover {
  background-color: #282c34;
  color: #D3885E;
}

